<main id="login-main">
  <div class="form-container col-md-10 mx-auto col-lg-5 rounded">
    <form id="login-form" class="p-4 p-md-5">
      <div class="form-floating my-4">
        <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
        <label for="floatingEmail">Email Address</label>
      </div>
      <div class="form-floating mb-4">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <button id="btn-login" class="w-100 btn btn-lg" type="submit">Sign in</button>
      <div id="register-link-container" class="text-center">
        <p>Not a member? <a id="register" href="/">Register</a></p>
      </div>
    </form>
  </div>
</main>
<script src="/js/login.js"></script>