<main>
  <section class="p-5 mb-4 rounded-3 bg-cream">
    <div class="container-fluid py-5">
      <h1 class="display-3 fw-bold">safeMed Demo</h1>
      <p class="col-md-8 fs-4">Our potential customers are afforded the opportunity to test a demo version of our product. safeMed offers a variety of user types with different permissions. To explore the options available to each type of user, select a user from the options below. To test another user, simply click logout in the navigation bar and choose a different user from this page</p>
    </div>
  </section>
  <section id="user-card-container" class="row justify-content-around">
      {{#each users as |user|}}
      {{> user-details}}
      {{/each}}
  </section>
</main>
