<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>safeMed</title>
</head>
<body>
  <header class="header">
    <img src="/public/img/image.png">
    <h1 id="safeMedTitle">SAFEMED</h1>
  </header>
  <form class="usernameAndPassword">
    <label for="username">Username:</label>
    <input type="text" id="username">
    <br>
    <label for="password">Password:</label>
    <button 
  </form>
</body>
</html>


{{!-- <div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Username:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">ENTER</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script> --}}

    <img src="/public/img/image.png">
    <h1 id="program-name">SAFEMED</h1>
    
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="username">
      <label for="username">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password">
      <label for="password">Password</label>
    </div>
