
<div class="container">
  <div class="row">
    <div class="col">
      <div class="text-center">
  <img src="/img/safeMed-logo.png" class="rounded cartlogo" alt="...">
</div>
    </div>
    <div class="col">
      <h1 class="display-3">
       Payment cancelled
      </h1>
      <p class="lead">Sorry we were not able to process your payment</p>
      <a href="/" type="button" class="btn btn-success btn-lg">Go Back Home</a>
      {{!-- <button id="success-btn" onclick="window.location.href'/'" type="button" class="btn btn-primary mx-1">Go Back Home</button> --}}

    </div>
  </div>
</div>