<section class="pricing-section">
    <div class="container">
		<div class="row justify-content-md-center">
			<div class="col-xl-5 col-lg-6 col-md-8">
				<div class="section-title text-center title-ex1">
					<h2>Pricing Tables</h2>
					<p>Secure Med tracking for your staff.</p>
				</div>
			</div>
		</div>
		<!-- Pricing Table starts -->
		<div class="row">
			<div class="col-md-4">
				<div class="price-card ">
					<h2>Basic</h2>
					<p>Per Host/ per Month</p>
					<p class="price"><span>75</span>/ Month</p>
					<ul class="pricing-offers">
						<li>Unlimited Patients</li>
						<li>Unlimited staff</li>
						<li>Care Take notes</li>
						<li>Drescription History</li>
					</ul>
					<a href="#" class="btn btn-primary btn-mid">Buy Now</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="price-card featured">
					<h2>Plus</h2>
					<p>Per Host/ per Month</p>
					<p class="price"><span>150</span>/ Month</p>
					<ul class="pricing-offers">
						<li>All Basic features</li>
						<li>Multi-facility inventory tracking</li>
						<li>Customize user access control</li>
						<li>Reports and Activity tracking</li>
					</ul>
					<a href="#" class="btn btn-primary btn-mid">Buy Now</a>
				</div>
			</div>
			<div class="col-md-4">
				<div class="price-card ">
					<h2>Premium</h2>
					<p>Per Host/ per Month</p>
					<p class="price"><span>500</span>/ Month</p>
					<ul class="pricing-offers">
						<li>All Plus features</li>
						<li>API Integration with Pharmacies</li>
						<li>Narcotics Tracking</li>
						<li>Biometric Security</li>
						<li>Powerful Admin Panel</li>
					</ul>
					<a href="#" class="btn btn-primary btn-mid">Buy Now</a>
				</div>
			</div>
		</div>
	</div>
</section>