:root {
  --primary-color: #7cbc54;
  --secondary-color: #4c7c34;
  --tertiary-color:	#ff9900;
  --nav-btn-dark: #3c642c;
  --light: #f8f9fa;
}

#main-header .navbar {
  background-color: var(--primary-color) !important;
}

#icon-img {
  border: 3px solid var(--secondary-color);
  border-radius: 5px;
}

/* Button Styles */
.navbar-title {
  color: var(--light);
  font-size: 3rem;
  text-shadow: 1px 1px 2px var(--secondary-color);
}

#nav-btn-container .btn-primary {
  background-color: var(--nav-btn-dark);
  border-color: var(--nav-btn-dark);
  font-size: 1.2rem;
}

#btn-sign-up {
  background-color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
  font-size: 1.2rem;
}

#nav-btn-container .btn-primary:hover,
#btn-sign-up:hover {
  border-color: var(--tertiary-color);
  transition: 0.3s ease-in-out;
}
