body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  .custom-bg-primary {
    background-color: #84b556;
  }

  /* login.handlebars */
  #username{
    width: 333px;
    border-radius: 25px;
  }

  #password{
    width: 333px;
    border-radius: 25px;
  }

  #submitButton {
    width: 111px;
    border-radius: 25px;
    border-style: none;
    color: white;
    background-color: #79bc4d;
    font-family: 'Roboto', sans-serif;
  }
  
  .usernameAndPassword {
    margin: auto;
    padding: 25px;
    width: 383px;
    border-style: solid;
    border-radius: 25px;
    border-color: #79bc4d;
  }